<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>
<body>
    <header>
        <div id="header">
            <h1>Dashboard</h1>  
            <p>Gráfico, dados e visão geral 📈📊. <b>Aproveite, em breve melhorias... 😉!</b></p>
            <a href="/"><button type="button">Voltar</button></a>
        </div>
    </header>
    <main>
        <canvas id="myChart"></canvas>
    </main>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script>
        const estoque_labels = [<%= estoqueLabels %>]
        const estoque_data = [<%= estoqueData %>]
        const pulmao_labels = [<%= pulmaoLabels %>]
        const pulmao_data = [<%= pulmaoData %>]
    </script>
    <script src="/javascript/chart.js"></script>
</body>
</html>