  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href="/stylesheets/login.css" />
</head>
<body>
  <h1> Favor efetuar login </h1>
  <form action="/login" method="POST">
    <label>Usuario: <input type="text" name="login"></label>
    <label>Senha: <input type="password" name="senha"></label>
    <input type="submit" value="Logar no sistema">
  </form>
  <p><%= message %></p>
</body>
</html>