header {
  width: 100%;
}

#contadores {
  float: right;
  width: 19%;
  padding-top: 10px;
}

main {
  overflow: auto;
}

#filtros {
  margin-top: 0;
  min-height: 350px;
}

#filtros p {
  display: inline;
}

#filtros label {
  font-weight: normal;
}

#filtros input, button {
  margin: 1px;
  width: 100%;
  font-weight: bold;
}

.titulo {
  font-weight: bold;
}

:disabled {
  background-color: gainsboro;
}

textarea {
  color: blue;
  width: 98%;
}

::placeholder {
  color: midnightblue;
}

#colunaUsuario {
  word-break: normal;
}