@import url("/stylesheets/new.css");

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

main {
  float: left;
  width: 80%;
  height: 300px;
}

table {
  background-color: white;
  width: 100%;
  table-layout: auto;
  margin-bottom: 50px;
}

td {
  text-align: center;
  word-wrap: break-word;
}

tr:nth-child(even) {
  background-color: LightSteelBlue;
}

tbody tr:hover {
  background: SkyBlue;
}

thead,
tfoot {
  background-color: MidnightBlue;
  font-size: 16px;
}

tbody tr {
  color: black;
}

tfoot tr td {
  text-align: center;
}

tfoot tr td a {
  color: white;
}

header {
  width: 80%;
  height: 100px;
  align-content: bottom;
}

header a {
  color: white;
}

#header {
  float: left;
}

#divPesquisa {
  float: right;
  margin-top: 70px;
  height: 30px;
}

#divPesquisa input {
  width: 15ch;
}

#dica {
  float: right;
  width: 18%;
  background-color: Khaki;
  color: red;
  padding: 5px;
}

#filtros {
  float: right;
  padding: 5px;
  width: 18%;
  margin-top: 10px;
  outline: 1px solid white;
  text-align: right;
}

#filtros h1 {
  text-align: center;
}

#filtros select {
  width: 50%;
}